/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90%;
    padding: 15px 0;
    margin: 30px auto 0;
    text-align: center;
    border-top:solid 5px #000000;
}

nav {
    width: 880px;
    margin: 0 auto;
    border-top: solid 1px #000000;
    border-bottom: solid 5px #000000;
}

ul {
    list-style: none;
}

.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none
}

main {
    width: 880px;
    margin: 0 auto;
}

.top {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.section {
    text-align: center;
    margin: 20px auto;
    text-align: center;
}

.notice {
    margin: 10px auto;
}

.table-box {
    width: 90%;
    margin: 0 auto;
}

#th-title {
    width: 15%;   
}

#th-extra {
    width: 25%;
}

table {
    table-layout:fixed
}

td {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow:ellipsis;
}


footer {
    width: 90%;
    padding: 0 15px;
    margin: 30px auto 30px;
    text-align: center;
    border-bottom:solid 5px #000000;
}